<html>
<head>
    <title>My first Vue app</title>
    <link rel="stylesheet" type="text/css" href="product_style.css">
</head>
<body>
    <title>Product App</title>

    <div class="nav-bar"></div>
    <div id="app">

        <span v-show="onSale"><h1 style="color:red">ON SALE!</h1></span>
        <div class="product-image">
            <img :src="image"/>
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Running out of stock</p>
            <p v-else>no stock</p>
        </div>

        <ul>
            <li v-for="detail in details">{{detail}}</li>
        </ul>
        <a :href="url" target="_blank">Google</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>

</body>

</html>
